{{page-title "Usprint"}}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Versions</a></li>
      <li class="breadcrumb-item"><a href="#">Sprints</a></li>
    </ol>
  </nav>
  {{outlet}}
</div>


