{{page-title "Index"}}
{{outlet}}

<h3>迭代列表</h3>

<section class="container">
  <h5 class="border-bottom pb-2">当前迭代</h5>
  <div class="card w-25">
    <div class="card-body">
      <div class="card-header">
        <h6 class="card-title">V1R3C00B09</h6>
      </div>
      <div class="card-text">
        开发中
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" type="button">出包</button>
        <button class="btn btn-primary" type="button">转测</button>
        <button class="btn btn-primary" type="button">下载</button>
        <a href="/versions/1/sprints/1" class="btn btn-primary">详情</a>
      </div>
    </div>
  </div>


</section>


<section class="container">
  <h5 class="border-bottom pb-2">历史迭代</h5>

  <div class="row row-cols-3">
    <div class="card w-25 bg-light">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">V1R3C00B08</h6>
        </div>
        <div class="card-text">
          已转测
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="button">出包</button>
          <button class="btn btn-primary" type="button">下载</button>
        </div>
      </div>
    </div>


    <div class="card w-25">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">V1R3C00B07</h6>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="button">出包</button>
          <button class="btn btn-primary" type="button">下载</button>
        </div>
      </div>
    </div>

    <div class="card w-25">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">V1R3C00B06</h6>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="button">出包</button>
          <button class="btn btn-primary" type="button">下载</button>
        </div>
      </div>
    </div>


    <div class="card w-25">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">V1R3C00B06</h6>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="button">出包</button>
          <button class="btn btn-primary" type="button">下载</button>
        </div>
      </div>
    </div>

    <div class="card w-25">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">V1R3C00B06</h6>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="button">出包</button>
          <button class="btn btn-primary" type="button">下载</button>
        </div>
      </div>
    </div>

    <div class="card w-25">
      <div class="card-body">
        <div class="card-header">
          <h6 class="card-title">V1R3C00B06</h6>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" type="button">出包</button>
          <button class="btn btn-primary" type="button">下载</button>
        </div>
      </div>
    </div>
  </div>

</section>